<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta name="format-detection" content="telephone=no">
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="pingback" href="http://chaitan.like-themes.com/xmlrpc.php">
	<link rel="stylesheet" href="assets/css/all.css">

	<title>Cart &#8211; Chaitan</title>



	<script type='text/javascript' src='http://chaitan.like-themes.com/wp-includes/js/jquery/jquery.min.js?ver=3.5.1'
		id='jquery-core-js'></script>




</head>

<body
	class="page-template-default page page-id-615 woocommerce-cart woocommerce-page woocommerce-no-js tribe-no-js masthead-fixed full-width footer-widgets singular paceloader-enabled wpb-js-composer js-comp-ver-5.7 vc_responsive">
	<div id="preloader"></div>
	<div class="ltx-topbar-block">
		<div class="container">
			<div class="vc_row wpb_row vc_row-fluid vc_row-o-content-middle vc_row-flex">
				<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-8 vc_col-md-12">
					<div class="vc_column-inner">
						<div class="wpb_wrapper">
							<ul class="block-icon icons-count-3  icon-h-right align-left i-circle layout-inline">
								<li data-mh="ltx-block-icon-li-1544">
									<div data-mh="ltx-block-icon-in-1544" class=""><span
											class="icon fa fa-phone-square  bg-bg-transparent"
											data-mh="ltx-icon-span-like_sc_block_icon_2015379369"></span>
										<div class="block-right">
											<h6 class="header"> <span> +20-800-33-000 </span> </h6>
											<div class="descr"></div>
										</div>
									</div>
								</li>
								<li data-mh="ltx-block-icon-li-1544">
									<div data-mh="ltx-block-icon-in-1544" class=""><span
											class="icon fa fa-map-marker  bg-bg-transparent"
											data-mh="ltx-icon-span-like_sc_block_icon_2015379369"></span>
										<div class="block-right">
											<h6 class="header"> Regione Venetta, 21/100, Milano, Italy<br />
											</h6>
											<div class="descr"></div>
										</div>
									</div>
								</li>
								<li data-mh="ltx-block-icon-li-1544">
									<div data-mh="ltx-block-icon-in-1544" class=""><span
											class="icon fa fa-clock-o  bg-bg-transparent"
											data-mh="ltx-icon-span-like_sc_block_icon_2015379369"></span>
										<div class="block-right">
											<h6 class="header"> Monday-Sunday 9:00 - 23:00<br />
											</h6>
											<div class="descr"></div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div
					class="wpb_column vc_column_container vc_col-sm-4 vc_hidden-md vc_hidden-sm vc_hidden-xs text-align-right">
					<div class="vc_column-inner vc_custom_1530865762673">
						<div class="wpb_wrapper">
							<div class="ltx-navbar-icons">
								<ul>
									<li class="ltx-fa-icon ltx-nav-search   hidden-sm hidden-ms hidden-xs">
										<div class="top-search">
											<a href="#" id="top-search-ico" class="top-search-ico fa fa-search"
												aria-hidden="true"></a>
											<a href="#" id="top-search-ico-close"
												class="top-search-ico-close fa fa-close" aria-hidden="true"></a>
											<input placeholder="Search" value="" type="text">
										</div>
									</li>
									<li class="ltx-fa-icon ltx-nav-cart  hidden-sm hidden-ms hidden-xs">
										<div class="cart-navbar">
											<a href="http://chaitan.like-themes.com/cart/"
												class="shop_table cart ltx-cart" title="View your shopping cart"><span
													class="cart-contents header-cart-count count">0</span><i
													class="fa fa fa-shopping-bag" aria-hidden="true"></i>
											</a>
										</div>
									</li>
									<li
										class="ltx-fa-icon ltx-nav-profile menu-item-has-children  hidden-sm hidden-ms hidden-xs">
										<a href="http://chaitan.like-themes.com/my-account/"><span
												class="fa fa-user"></span>
											Login</a>
									</li>
								</ul>
							</div>
							<div class="wpb_text_column wpb_content_element  vc_custom_1530310664704">
								<div class="wpb_wrapper">


								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="nav-wrapper" class="navbar-layout-desktop">
		<nav class="navbar" data-spy="affix" data-offset-top="35">
			<div class=" container">
				<div class="navbar-logo ">
					<a class="logo" href="http://chaitan.like-themes.com/"><img width="478" height="151"
							src="http://chaitan.like-themes.com/wp-content/uploads/2018/06/logo_04.png"
							class="attachment-full size-full" alt="" loading="lazy"
							srcset="http://chaitan.like-themes.com/wp-content/uploads/2018/06/logo_04.png 478w, http://chaitan.like-themes.com/wp-content/uploads/2018/06/logo_04-300x95.png 300w"
							sizes="(max-width: 478px) 100vw, 478px" /></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse" data-mobile-screen-width="1199">
					<div class="toggle-wrap">
						<a class="logo" href="http://chaitan.like-themes.com/"><img width="478" height="151"
								src="http://chaitan.like-themes.com/wp-content/uploads/2018/06/logo_04.png"
								class="attachment-full size-full" alt="" loading="lazy"
								srcset="http://chaitan.like-themes.com/wp-content/uploads/2018/06/logo_04.png 478w, http://chaitan.like-themes.com/wp-content/uploads/2018/06/logo_04-300x95.png 300w"
								sizes="(max-width: 478px) 100vw, 478px" /></a>
						<button type="button" class="navbar-toggle collapsed">
							<span class="close"><span class="fa fa-close"></span></span>
						</button>
						<div class="clearfix"></div>
					</div>
					<ul id="menu-main-menu" class="nav navbar-nav">
						<li id="menu-item-4552"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4552">
							<a href="/"><span>Home</span></a>
							<ul class="sub-menu">
								<li id="menu-item-5156"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-5156">
									<a href="http://chaitan.like-themes.com/"><span>Tea Production</span></a>
								</li>
								<li id="menu-item-5171"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5171"><a
										href="http://chaitan.like-themes.com/world-tea-company/"><span>World Tea
											Company</span></a></li>
							</ul>
						</li>
						<li id="menu-item-3557"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3557">
							<a><span>About us</span></a>
							<ul class="sub-menu">
								<li id="menu-item-5134"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5134"><a
										href="http://chaitan.like-themes.com/about-company/"><span>About
											Company</span></a></li>
								<li id="menu-item-57"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57"><a
										href="http://chaitan.like-themes.com/testimonials/"><span>Testimonials</span></a>
								</li>
								<li id="menu-item-750"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-750"><a
										href="http://chaitan.like-themes.com/team/"><span>Team</span></a></li>
								<li id="menu-item-2364"
									class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2364"><a
										href="/faq/"><span>FAQ</span></a></li>
								<li id="menu-item-2584"
									class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2584"><a
										href="/404-page"><span>404 Page</span></a></li>
							</ul>
						</li>
						<li id="menu-item-619"
							class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-619">
							<a href="#"><span>Products</span></a>
							<ul class="sub-menu">
								<li id="menu-item-623"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-623"><a
										href="http://chaitan.like-themes.com/shop/"><span>Shop</span></a></li>
								<li id="menu-item-622"
									class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-615 current_page_item menu-item-622">
									<a href="http://chaitan.like-themes.com/cart/"><span>Cart</span></a>
								</li>
								<li id="menu-item-621"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-621"><a
										href="http://chaitan.like-themes.com/checkout/"><span>Checkout</span></a></li>
								<li id="menu-item-620"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-620"><a
										href="http://chaitan.like-themes.com/my-account/"><span>My account</span></a>
								</li>
							</ul>
						</li>
						<li id="menu-item-59"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-59">
							<a><span>Blog</span></a>
							<ul class="sub-menu">
								<li id="menu-item-3976"
									class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3976">
									<a href="#"><span>Blog with Sidebar</span></a>
									<ul class="sub-menu">
										<li id="menu-item-43"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-43">
											<a href="http://chaitan.like-themes.com/classic-blog-with-left-sidebar/"><span>Classic
													Left Sidebar</span></a>
										</li>
										<li id="menu-item-3974"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3974">
											<a href="http://chaitan.like-themes.com/blog-2-columns-with-right-sidebar/"><span>2-Columns
													Right Sidebar</span></a>
										</li>
									</ul>
								</li>
								<li id="menu-item-3977"
									class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3977">
									<a href="#"><span>Blog without Sidebar</span></a>
									<ul class="sub-menu">
										<li id="menu-item-3975"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3975">
											<a href="http://chaitan.like-themes.com/classic-blog-without-sidebar/"><span>Classic
													Blog</span></a>
										</li>
										<li id="menu-item-45"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-45">
											<a href="http://chaitan.like-themes.com/blog-two-columns-without-sidebar/"><span>Masonry
													2-Columns</span></a>
										</li>
										<li id="menu-item-44"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-44">
											<a href="http://chaitan.like-themes.com/blog-three-columns/"><span>Masonry
													3-Columns</span></a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li id="menu-item-60"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-60">
							<a><span>Gallery</span></a>
							<ul class="sub-menu">
								<li id="menu-item-47"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47"><a
										href="http://chaitan.like-themes.com/gallery-2-columns/"><span>Gallery
											2-columns</span></a></li>
								<li id="menu-item-48"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-48"><a
										href="http://chaitan.like-themes.com/gallery-3-columns/"><span>Gallery
											3-columns</span></a></li>
								<li id="menu-item-49"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49"><a
										href="http://chaitan.like-themes.com/gallery-4-columns/"><span>Gallery
											4-columns</span></a></li>
							</ul>
						</li>
						<li id="menu-item-46"
							class="menu-item menu-item-type-post_type menu-item-object-page menu-item-46"><a
								href="http://chaitan.like-themes.com/contacts/"><span>Contacts</span></a></li>
						<li id="menu-item-61"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-has-mega-menu menu-item-61">
							<a href="#"><span>Pages</span></a>
							<div class="mega-menu">
								<ul class="sub-menu mega-menu-row">
									<li id="menu-item-783"
										class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children mega-menu-col menu-item-783">
										<a><span>Typography</span></a>
										<ul class="sub-menu sub-menu-has-icons">
											<li id="menu-item-597"
												class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon menu-item-597">
												<a href="http://chaitan.like-themes.com/elements/headers/"
													class="fa fa-font"><span>Headers</span></a>
											</li>
											<li id="menu-item-579"
												class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon menu-item-579">
												<a href="http://chaitan.like-themes.com/elements/text/"
													class="fa fa-align-left"><span>Text</span></a>
											</li>
											<li id="menu-item-594"
												class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon menu-item-594">
												<a href="http://chaitan.like-themes.com/elements/text_columns/"
													class="fa fa-columns"><span>Text Columns</span></a>
											</li>
											<li id="menu-item-643"
												class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon menu-item-643">
												<a href="http://chaitan.like-themes.com/elements/table/"
													class="fa fa-table"><span>Table</span></a>
											</li>
											<li id="menu-item-588"
												class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon menu-item-588">
												<a href="http://chaitan.like-themes.com/elements/separators/"
													class="fa fa-arrows-h"><span>Separators</span></a>
											</li>
										</ul>
									</li>
									<li id="menu-item-784"
										class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children mega-menu-col menu-item-784">
										<a><span>Form Elements</span></a>
										<ul class="sub-menu sub-menu-has-icons">
											<li id="menu-item-555"
												class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon menu-item-555">
												<a href="http://chaitan.like-themes.com/elements/buttons/"
													class="fa fa-mouse-pointer"><span>Buttons</span></a>
											</li>
											<li id="menu-item-705"
												class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon menu-item-705">
												<a href="http://chaitan.like-themes.com/elements/forms/"
													class="fa fa-edit"><span>Forms</span></a>
											</li>
										</ul>
									</li>
									<li id="menu-item-785"
										class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children mega-menu-col menu-item-785">
										<a><span>Shortcodes</span></a>
										<ul class="sub-menu sub-menu-has-icons">
											<li id="menu-item-527"
												class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon menu-item-527">
												<a href="http://chaitan.like-themes.com/elements/accordions/"
													class="fa fa-list"><span>Accordions</span></a>
											</li>
											<li id="menu-item-538"
												class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon menu-item-538">
												<a href="http://chaitan.like-themes.com/elements/alert/"
													class="fa fa-exclamation-triangle"><span>Alerts</span></a>
											</li>
											<li id="menu-item-568"
												class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon menu-item-568">
												<a href="http://chaitan.like-themes.com/elements/tabs/"
													class="fa fa-th-large"><span>Tabs</span></a>
											</li>
											<li id="menu-item-56"
												class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon menu-item-56">
												<a href="http://chaitan.like-themes.com/elements/shortcodes/"
													class="fa fa-caret-square-o-right"><span>Shortcodes</span></a>
											</li>
										</ul>
									</li>
									<li id="menu-item-786"
										class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children mega-menu-col menu-item-786">
										<a href="#"><span>Lists</span></a>
										<ul class="sub-menu sub-menu-has-icons">
											<li id="menu-item-675"
												class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon menu-item-675">
												<a href="http://chaitan.like-themes.com/elements/icons-page/"
													class="fa fa-gratipay"><span>Icons</span></a>
											</li>
											<li id="menu-item-562"
												class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon menu-item-562">
												<a href="http://chaitan.like-themes.com/elements/list/"
													class="fa fa-twitter"><span>Lists and Social Icons</span></a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</li>
					</ul>
					<div class="mobile-controls">
						<div>
							<ul>
								<li class="ltx-fa-icon ltx-nav-search  ">
									<div class="top-search">
										<a href="#" id="top-search-ico-mobile" class="top-search-ico fa fa-search"
											aria-hidden="true"></a>

										<input placeholder="Search" value="" type="text">
									</div>
								</li>
								<li class="ltx-fa-icon ltx-nav-cart ">
									<div class="cart-navbar">
										<a href="http://chaitan.like-themes.com/cart/" class="shop_table cart ltx-cart"
											title="View your shopping cart"><span
												class="cart-contents header-cart-count count">0</span><i
												class="fa fa fa-shopping-bag" aria-hidden="true"></i>
										</a>
									</div>
								</li>
								<li class="ltx-fa-icon ltx-nav-profile menu-item-has-children ">
									<a href="http://chaitan.like-themes.com/my-account/"><span
											class="fa fa-user"></span>
										Login</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="navbar-controls">
					<button type="button" class="navbar-toggle collapsed">
						<span class="icon-bar top-bar"></span>
						<span class="icon-bar middle-bar"></span>
						<span class="icon-bar bottom-bar"></span>
					</button>
					<div class="ltx-navbar-icons">
						<ul>
							<li class="ltx-fa-icon ltx-nav-cart ">
								<div class="cart-navbar">
									<a href="http://chaitan.like-themes.com/cart/" class="shop_table cart ltx-cart"
										title="View your shopping cart"><span
											class="cart-contents header-cart-count count">0</span><i
											class="fa fa fa-shopping-bag" aria-hidden="true"></i>
									</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</div>
	<header class="page-header   header-h1  header-parallax ltx-parallax  hasBreadcrumbs">
		<div class="container">
			<h1>Cart </h1>
			<ul class="breadcrumbs" typeof="BreadcrumbList" vocab="https://schema.org/">
				<!-- Breadcrumb NavXT 6.2.1 -->
				<li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage"
							title="Go to Home." href="http://chaitan.like-themes.com" class="home"><span
								property="name">Home</span></a>
						<meta property="position" content="1">
					</span></li>
				<li class="post post-page current-item"><span property="itemListElement" typeof="ListItem"><span
							property="name">Cart</span>
						<meta property="position" content="2">
					</span></li>
			</ul>
		</div>
		<div class="ltx-social ltx-nav-second">
			<ul>
				<li><a href="#" target="_self"><span class="fa fa-twitter"></span></a></li>
				<li><a href="#" target="_self"><span class="fa fa-facebook-f"></span></a></li>
				<li><a href="#" target="_self"><span class="fa fa-instagram"></span></a></li>
				<li><a href="#" target="_self"><span class="fa fa-google-plus"></span></a></li>
			</ul><span class="header"><span>Follow us</span></span>
		</div>
	</header>
	<div class="container main-wrapper">
		<!-- Content -->
		<div class="inner-page text-page margin-default">
			<div class="row">
				<div class=" col-md-12 text-page">
					<article id="post-615" class="post-615 page type-page status-publish hentry">
						<div class="entry-content clearfix" id="entry-div">
							<div class="woocommerce">
								<div class="woocommerce-notices-wrapper"></div>
								<form class="woocommerce-cart-form" action="http://chaitan.like-themes.com/cart/"
									method="post">

									<table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents"
										cellspacing="0">
										<thead>
											<tr>
												<th class="product-remove">&nbsp;</th>
												<th class="product-thumbnail">&nbsp;</th>
												<th class="product-name">Product</th>
												<th class="product-price">Price</th>
												<th class="product-quantity">Quantity</th>
												<th class="product-subtotal">Total</th>
											</tr>
										</thead>
										<tbody>

											<tr class="woocommerce-cart-form__cart-item cart_item">

												<td class="product-remove">
													<a href="http://chaitan.like-themes.com/cart/?remove_item=c4616f5a24a66668f11ca4fa80525dc4&amp;_wpnonce=4ae542bb6f"
														class="remove" aria-label="Remove this item"
														data-product_id="4842" data-product_sku="">×</a>
												</td>

												<td class="product-thumbnail">
													<a href="http://chaitan.like-themes.com/product/an-xi-mao-xie/"><img
															width="340" height="227"
															src="http://chaitan.like-themes.com/wp-content/uploads/2018/07/04-340x227.jpg"
															class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
															alt="" loading="lazy"></a>
												</td>

												<td class="product-name" data-title="Product">
													<a href="http://chaitan.like-themes.com/product/an-xi-mao-xie/">An
														Xi Mao Xie</a>
												</td>

												<td class="product-price" data-title="Price">
													<span class="woocommerce-Price-amount amount"><span
															class="woocommerce-Price-currencySymbol">$</span>3.00</span>
												</td>

												<td class="product-quantity" data-title="Quantity">
													<div class="quantity">
														<label class="screen-reader-text"
															for="quantity_62167fee283e2">Quantity</label>
														<input type="number" id="quantity_62167fee283e2"
															class="input-text qty text" step="1" min="0" max=""
															name="cart[c4616f5a24a66668f11ca4fa80525dc4][qty]" value="3"
															title="Qty" size="4" pattern="[0-9]*" inputmode="numeric"
															aria-labelledby="An Xi Mao Xie quantity">
														<span class="more"></span><span class="less"></span>
													</div>
												</td>

												<td class="product-subtotal" data-title="Total">
													<span class="woocommerce-Price-amount amount"><span
															class="woocommerce-Price-currencySymbol">$</span>9.00</span>
												</td>
											</tr>


											<tr>
												<td colspan="6" class="actions">

													<div class="coupon">
														<label for="coupon_code">Coupon:</label> <input type="text"
															name="coupon_code" class="input-text" id="coupon_code"
															value="" placeholder="Coupon code"> <button type="submit"
															class="btn btn-default btn-xs" name="apply_coupon"
															value="Apply coupon">Apply coupon</button>
													</div>

													<button type="submit" class="btn btn-default btn-xs"
														name="update_cart" value="Update cart" disabled="">Update
														cart</button>


													<input type="hidden" id="woocommerce-cart-nonce"
														name="woocommerce-cart-nonce" value="4ae542bb6f"><input
														type="hidden" name="_wp_http_referer" value="/cart/">
												</td>
											</tr>

										</tbody>
									</table>
								</form>

								<div class="cart-collaterals">
									<div class="cart_totals ">


										<h2>Cart totals</h2>

										<table cellspacing="0" class="shop_table shop_table_responsive">

											<tbody>
												<tr class="cart-subtotal">
													<th>Subtotal</th>
													<td data-title="Subtotal"><span
															class="woocommerce-Price-amount amount"><span
																class="woocommerce-Price-currencySymbol">$</span>9.00</span>
													</td>
												</tr>






												<tr class="order-total">
													<th>Total</th>
													<td data-title="Total"><strong><span
																class="woocommerce-Price-amount amount"><span
																	class="woocommerce-Price-currencySymbol">$</span>9.00</span></strong>
													</td>
												</tr>


											</tbody>
										</table>

										<div class="wc-proceed-to-checkout">

											<a href="http://chaitan.like-themes.com/checkout/"
												class="checkout-button alt wc-forward btn">
												Proceed to checkout</a>
										</div>


									</div>
								</div>

							</div>
						</div>
					</article>
				</div>

			</div>
		</div>

	</div>
	<div class="subscribe-block">
		<div class="container">
			<section data-vc-full-width="true" data-vc-full-width-init="false"
				class="vc_section vc_section-o-content-middle vc_section-flex">
				<div class="vc_row wpb_row vc_row-fluid vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
					<div
						class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-6 vc_col-md-12 vc_hidden-sm vc_hidden-xs">
						<div class="vc_column-inner">
							<div class="wpb_wrapper">
								<div class="heading  header-inline align-left color-white subcolor-black icon-type-before   vc_custom_1530546375063 heading-tag-h3 heading-icon"
									id="like_sc_header_79856104"><img
										src="http://chaitan.like-themes.com/wp-content/uploads/2018/07/subscribe-icon.png"
										class="heading-icon "
										alt="Subscribe &lt;span&gt; weekly newsletter &lt;/span&gt;">
									<div class="heading-content">
										<h3
											class="header ltx-sr-id-like_sc_header_798561041884150029 ltx-sr ltx-sr-effect-fade_in ltx-sr-el-block ltx-sr-delay-0 ltx-sr-duration-1000 ltx-sr-sequences-0">
											Subscribe <span> weekly newsletter </span></h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div
						class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-6 vc_col-md-12 text-align-center-md-sm-ms">
						<div class="vc_column-inner">
							<div class="wpb_wrapper">
								<div class="wpb_text_column wpb_content_element ">
									<div class="wpb_wrapper">
										<script>(function () {
												if (!window.mc4wp) {
													window.mc4wp = {
														listeners: [],
														forms: {
															on: function (event, callback) {
																window.mc4wp.listeners.push({
																	event: event,
																	callback: callback
																});
															}
														}
													}
												}
											})();
										</script><!-- MailChimp for WordPress v4.3.3 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
										<form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-806" method="post"
											data-id="806" data-name="Subscribe Form">
											<div class="mc4wp-form-fields">
												<div class="input-group">
													<input type="email" name="EMAIL" placeholder="Your email ..."
														required />
													<span class="input-group-append">
														<button class="btn btn-xs btn-black color-hover-white"
															type="submit">Subscribe</button>
													</span>
												</div>
											</div><label style="display: none !important;">Leave this field empty if
												you're human: <input type="text" name="_mc4wp_honeypot" value=""
													tabindex="-1" autocomplete="off" /></label><input type="hidden"
												name="_mc4wp_timestamp" value="1645632788" /><input type="hidden"
												name="_mc4wp_form_id" value="806" /><input type="hidden"
												name="_mc4wp_form_element_id" value="mc4wp-form-1" />
											<div class="mc4wp-response"></div>
										</form><!-- / MailChimp for WordPress Plugin -->

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div class="vc_row-full-width vc_clearfix"></div>
		</div>
	</div>
	<section id="ltx-logo-footer">

		<div class="container">
			<span class="logo-footer"><img width="478" height="151"
					src="http://chaitan.like-themes.com/wp-content/uploads/2018/06/logo_04.png"
					class="attachment-full size-full" alt="" loading="lazy"
					srcset="http://chaitan.like-themes.com/wp-content/uploads/2018/06/logo_04.png 478w, http://chaitan.like-themes.com/wp-content/uploads/2018/06/logo_04-300x95.png 300w"
					sizes="(max-width: 478px) 100vw, 478px" /></span>
			<div class="ltx-social ltx-nav-second">
				<ul>
					<li><a href="#" target="_self"><span class="fa fa-twitter"></span></a></li>
					<li><a href="#" target="_self"><span class="fa fa-facebook-f"></span></a></li>
					<li><a href="#" target="_self"><span class="fa fa-instagram"></span></a></li>
					<li><a href="#" target="_self"><span class="fa fa-google-plus"></span></a></li>
				</ul><span class="header"><span>Follow us</span></span>
			</div>
		</div>
	</section>
	<section id="ltx-widgets-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-12 col-ms-12  matchHeight clearfix">
					<div class="footer-widget-area">
						<div id="text-4" class="widget widget_text">
							<h4 class="header-widget">About us</h4>
							<div class="textwidget">
								<p><strong class="color-main">Addres:</strong> 21 Newstreet, Chaitan town, India, 109-74
								</p>
							</div>
						</div>
						<div id="ltx_icons-3" class="widget widget_ltx_icons">
							<ul class="social-icons-list">
								<li><a href="#"><span class="fa fa-phone"></span>+700800-50-800</a></li>

								<li><a href="#"><span class="fa fa-envelope"></span>manager@chaitan.md</a></li>

								<li><a href="#"><span class="fa fa-skype"></span>chaitan</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12 col-ms-12 hidden-xs hidden-ms hidden-sm matchHeight clearfix">
					<div class="footer-widget-area">
						<div id="ltx_navmenu-2" class="widget widget_ltx_navmenu">
							<h4 class="header-widget">Explore</h4>
							<div class="menu-main-menu-container">
								<ul id="menu-main-menu-1" class="menu">
									<li
										class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4552">
										<a href="/">Home</a>
									</li>
									<li
										class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3557">
										<a>About us</a>
									</li>
									<li
										class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-619">
										<a href="#">Products</a>
									</li>
									<li
										class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-59">
										<a>Blog</a>
									</li>
									<li
										class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-60">
										<a>Gallery</a>
									</li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-46"><a
											href="http://chaitan.like-themes.com/contacts/">Contacts</a></li>
									<li
										class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-has-mega-menu menu-item-61">
										<a href="#">Pages</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12 col-ms-12 hidden-xs hidden-ms hidden-sm matchHeight clearfix">
					<div class="footer-widget-area">
						<div id="ltx_blogposts-5" class="widget widget_ltx_blogposts">
							<h4 class="header-widget">Recent News</h4>
							<div class="items">
								<div class="post"><a
										href="http://chaitan.like-themes.com/3-ways-how-to-test-nutaral-indian-tea/"
										class="photo"><img width="110" height="80"
											src="http://chaitan.like-themes.com/wp-content/uploads/2018/06/blog_01-110x80.jpg"
											class="attachment-chaitan-tiny size-chaitan-tiny wp-post-image" alt=""
											loading="lazy" /></a>
									<div class="blog-info top"><a
											href="http://chaitan.like-themes.com/3-ways-how-to-test-nutaral-indian-tea/"
											class="date">February 21, 2018</a><a
											href="http://chaitan.like-themes.com/3-ways-how-to-test-nutaral-indian-tea/">
											<h6>3 ways how to test nutaral indian tea</h6>
										</a></div>
								</div>
								<div class="post"><a
										href="http://chaitan.like-themes.com/results-of-international-tea-conference-18/"
										class="photo"><img width="110" height="80"
											src="http://chaitan.like-themes.com/wp-content/uploads/2018/06/blog_02-110x80.jpg"
											class="attachment-chaitan-tiny size-chaitan-tiny wp-post-image" alt=""
											loading="lazy" /></a>
									<div class="blog-info top"><a
											href="http://chaitan.like-themes.com/results-of-international-tea-conference-18/"
											class="date">February 21, 2018</a><a
											href="http://chaitan.like-themes.com/results-of-international-tea-conference-18/">
											<h6>Results of international tea conference &#8217;18</h6>
										</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="copyright-block">
		<div class="container">
			<p><a href="https://themeforest.net/user/like-themes">Like-themes</a> 2018 © All Rights Reserved - <a
					href="https://themeforest.net/user/like-themes">Purchase Theme</a></p><a href="#"
				class="go-top hidden-xs hidden-ms"><span class="fa fa-arrow-up"></span></a>
		</div>
	</footer>
	
	






















	<script defer
		src="http://chaitan.like-themes.com/wp-content/cache/autoptimize/js/autoptimize_f1a74bcf14bbb8786a6e5a087fe36853.js"></script>
</body>

</html>